.navbar{
  border-bottom: 0.1px solid lightgrey;
}

.menubtn{
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .menubtn {
      display: none;
    }
  }
  
@media only screen and (max-width: 768px) {
    .navbar {
      font-size: 12px;
      padding: 0px;
    }
  }
  